services:
    backend:
        build:
            context: ./backend
            target: builder
        container_name: backend
        environment:
            - PORT=8000
        ports:
            - '8000:8000'
        restart: unless-stopped
        volumes:
            - ./backend/src:/app/src
        cap_add:
            - NET_RAW
    frontend:
        build:
            context: ./frontend
        container_name: frontend
        ports: 
            - "3000:80"
        restart: unless-stopped
        volumes:
            - ./frontend/static:/usr/share/nginx/html:ro
        depends_on:
            - backend
